<nav class="navbar navbar-light bg-white">
    <div style="height: 50px; padding-left: 100px; padding-right: 100px;" class="container-fluid justify-content-between align-content-center">
        <a class="navbar-brand fs-4 fw-bold" href="/">Well<span class="fst-italic fw-normal">being</span></a>
        <ul style="height: 50px; padding-top: 10px;" class="navbar-nav d-flex flex-row align-content-center">
            <li class="nav-item"><a href="/about" class="align-middle text-black text-decoration-none">About Us</a></li>
            <li class="nav-item"><p class="mx-2"> | </p></li>
            <li class="nav-item"><a href="/profile" class="align-middle text-black text-decoration-none">Profile</a></li>
            <li class="nav-item"><p class="mx-2"> | </p></li>
            <li class="nav-item"><a href="/logout" class="align-middle text-black text-decoration-none">Sign out</a></li>
        </ul>
    </div>
</nav>